In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
train = pd.read_csv("train.tsv",delimiter = '\t')
test = pd.read_csv("test.tsv",delimiter = '\t')

In [12]:
def concat_df(train_data, test_data):
    return pd.concat([train_data,test_data], sort=True).reset_index(drop=True)

df_all = concat_df(train, test)

In [49]:
df_all.head(5)

,ACE.1,ACE.2,BPC.1,BPC.2,BPW.1,BPW.2,DBF.1,DBF.2,FNL.1,FNL.2,...,ST3.1,ST3.2,ST4.1,ST4.2,ST5.1,ST5.2,Sex,Tournament,Year,id
0,11.0,7.0,6.0,5.0,7.0,15.0,4.0,8.0,3.0,2.0,...,7.0,6.0,4.0,6.0,6.0,2.0,men,FrenchOpen,2013,0
1,1.0,0.0,2.0,6.0,2.0,15.0,4.0,3.0,1.0,2.0,...,1.0,6.0,NaN,NaN,NaN,NaN,women,AusOpen,2013,3
2,4.0,8.0,5.0,7.0,2.0,5.0,2.0,2.0,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,women,Wimbledon,2013,4
3,1.0,0.0,9.0,0.0,6.0,0.0,0.0,8.0,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,women,USOpen,2013,7
5,2.0,6.0,1.0,8.0,1.0,4.0,7.0,0.0,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,women,USOpen,2013,11

In [32]:
print(df_all.isnull().sum())

ACE.1          22
ACE.2          22
BPC.1           1
BPC.2           1
BPW.1           1
BPW.2           1
DBF.1           8
DBF.2           8
FNL.1           1
FNL.2           1
FSP.1           0
FSP.2           0
FSW.1           0
FSW.2           0
NPA.1          84
NPA.2          84
NPW.1          83
NPW.2          83
Player1         0
Player2         0
Result        472
Round           0
SSP.1           0
SSP.2           0
SSW.1           0
SSW.2           0
ST1.1           1
ST1.2           1
ST2.1           4
ST2.2           4
ST3.1         321
ST3.2         321
ST4.1         722
ST4.2         722
ST5.1         857
ST5.2         857
Sex             0
TPW.1         312
TPW.2         312
Tournament      0
UFE.1         126
UFE.2         126
WNR.1         126
WNR.2         126
Year            0
id              0
dtype: int64

In [51]:
df_all.count()

index         829
ACE.1         829
ACE.2         829
BPC.1         829
BPC.2         829
BPW.1         829
BPW.2         829
DBF.1         829
DBF.2         829
FNL.1         829
FNL.2         829
FSP.1         829
FSP.2         829
FSW.1         829
FSW.2         829
NPA.1         829
NPA.2         829
NPW.1         829
NPW.2         829
Player1       829
Player2       829
Result        414
Round         829
SSP.1         829
SSP.2         829
SSW.1         829
SSW.2         829
ST1.1         829
ST1.2         829
ST2.1         827
ST2.2         827
ST3.1         548
ST3.2         548
ST4.1         188
ST4.2         188
ST5.1          72
ST5.2          72
Sex           829
Tournament    829
Year          829
id            829
dtype: int64

In [28]:
print(df_all.isnull().iloc[0]["ACE.1"])

False

In [29]:
count = 0
for i in range(943):
    if(df_all.isnull().iloc[i]["NPA.1"]) and (df_all.isnull().iloc[i]["NPA.2"]) and (df_all.isnull().iloc[i]["NPW.1"]) and (df_all.isnull().iloc[i]["NPW.2"]):
        count += 1
print(count)

83

In [46]:
df_all = df_all.dropna(subset=["NPA.1"])
df_all = df_all.dropna(subset=["DBF.1"])
df_all = df_all.dropna(subset=["ACE.1"])
df_all = df_all.drop(columns='TPW.1')
df_all = df_all.drop(columns='TPW.2')
'''
df_all = df_all.drop(columns='UFE.1')
df_all = df_all.drop(columns='UFE.2')
df_all = df_all.drop(columns='WNR.1')
df_all = df_all.drop(columns='WNR.2')
'''

"\ndf_all = df_all.drop(columns='UFE.1')\ndf_all = df_all.drop(columns='UFE.2')\ndf_all = df_all.drop(columns='WNR.1')\ndf_all = df_all.drop(columns='WNR.2')\n"

In [69]:
test.isnull().sum()

id              0
Tournament      0
Sex             0
Year            0
Player1         0
Player2         0
Round           0
FNL.1           1
FNL.2           1
FSP.1           0
FSW.1           0
SSP.1           0
SSW.1           0
ACE.1          13
DBF.1           5
WNR.1          63
UFE.1          63
BPC.1           1
BPW.1           1
NPA.1          39
NPW.1          39
TPW.1         156
ST1.1           1
ST2.1           2
ST3.1         164
ST4.1         380
ST5.1         437
FSP.2           0
FSW.2           0
SSP.2           0
SSW.2           0
ACE.2          13
DBF.2           5
WNR.2          63
UFE.2          63
BPC.2           1
BPW.2           1
NPA.2          39
NPW.2          39
TPW.2         156
ST1.2           1
ST2.2           2
ST3.2         164
ST4.2         380
ST5.2         437
dtype: int64

In [50]:
df_all = df_all.reset_index()

In [58]:
print(df_all.iloc[1])

index                         1
ACE.1                       1.0
ACE.2                       0.0
BPC.1                       2.0
BPC.2                       6.0
BPW.1                       2.0
BPW.2                      15.0
DBF.1                       4.0
DBF.2                       3.0
FNL.1                       1.0
FNL.2                       2.0
FSP.1                        63
FSP.2                        58
FSW.1                        34
FSW.2                        29
NPA.1                       9.0
NPA.2                       1.0
NPW.1                      10.0
NPW.2                       2.0
Player1       Varvara Lepchenko
Player2            Simona Halep
Result                      0.0
Round                         2
SSP.1                        37
SSP.2                        42
SSW.1                        10
SSW.2                        16
ST1.1                       6.0
ST1.2                       4.0
ST2.1                       0.0
ST2.2                       6.0
ST3.1                       1.0
ST3.2                       6.0
ST4.1                       NaN
ST4.2                       NaN
ST5.1                       NaN
ST5.2                       NaN
Sex                       women
Tournament              AusOpen
Year                       2013
id                            3
Name: 1, dtype: object

In [94]:
columns = ['ACE','FSP','FSW','SSP','SSW','DBF','BPC','BPW','NPA','NPW']
for column in columns:
    df_all[column] = -1
    
for i in range(829):
    for column in columns:
        if df_all.loc[i][column+'.1'] > df_all.loc[i][column+'.2']:
            df_all.loc[i,column] = 1
        elif df_all.loc[i][column+'.1'] == df_all.loc[i][column+'.2']:
            df_all.loc[i,column] = 2
        else:
            df_all.loc[i,column] = 0

print(df_all.shape)

(829, 51)

In [134]:
test.fillna(0)

,id,Tournament,Sex,Year,Player1,Player2,Round,FNL.1,FNL.2,FSP.1,...,ACE,FSP,FSW,SSP,SSW,DBF,BPC,BPW,NPA,NPW
0,1,Wimbledon,women,2013,A.Radwanska,M.Keys,3,2.0,1.0,71,...,0,1,1,0,1,2,1,1,0,0
1,2,AusOpen,men,2013,Nick Kyrgios,Benjamin Becker,1,3.0,1.0,54,...,1,1,1,0,0,1,1,1,0,1
2,5,Wimbledon,men,2013,V.Pospisil,M.Youzhny,2,2.0,3.0,63,...,1,0,1,1,0,2,2,0,1,1
3,6,FrenchOpen,women,2013,Caroline Wozniacki,Bojana Jovanovski,2,0.0,2.0,70,...,0,1,0,0,1,1,0,0,1,1
4,8,Wimbledon,men,2013,N.Djokovic,J.Chardy,3,3.0,0.0,74,...,1,1,1,0,0,0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467,938,FrenchOpen,women,2013,Vania King,Alexandra Cadantu,1,2.0,0.0,74,...,0,1,0,0,1,0,1,1,1,1
468,939,FrenchOpen,women,2013,Alize Cornet,Maria Joao Koehler,1,2.0,0.0,70,...,0,1,1,0,1,0,1,1,1,1
469,940,AusOpen,women,2013,Monica Niculescu,Sabine Lisicki,2,2.0,1.0,66,...,0,1,1,0,0,2,1,1,0,0
470,941,AusOpen,women,2013,Eugenie Bouchard,Lauren Davis,3,2.0,0.0,61,...,1,0,0,1,1,1,1,1,2,1
471,942,AusOpen,men,2013,Guillermo Garcia-Lopez,Tommy Haas,1,2.0,0.0,58,...,1,1,1,0,2,0,1,1,0,0

In [136]:
columns = ['ACE','FSP','FSW','SSP','SSW','DBF','BPC','BPW','NPA','NPW']
for column in columns:
    test[column] = -1
    
for i in range(len(test)):
    for column in columns:
        if test.loc[i][column+'.1'] > test.loc[i][column+'.2']:
            test.loc[i,column] = 1
        elif test.loc[i][column+'.1'] == test.loc[i][column+'.2']:
            test.loc[i,column] = 2
        else:
            test.loc[i,column] = 0

In [95]:
df_all.head(5)

,index,ACE.1,ACE.2,BPC.1,BPC.2,BPW.1,BPW.2,DBF.1,DBF.2,FNL.1,...,ACE,FSP,FSW,SSP,SSW,DBF,BPC,BPW,NPA,NPW
0,0,11.0,7.0,6.0,5.0,7.0,15.0,4.0,8.0,3.0,...,1,1,1,0,0,0,1,0,0,0
1,1,1.0,0.0,2.0,6.0,2.0,15.0,4.0,3.0,1.0,...,1,1,1,0,0,1,0,0,1,1
2,2,4.0,8.0,5.0,7.0,2.0,5.0,2.0,2.0,0.0,...,0,0,0,1,1,2,0,0,0,0
3,3,1.0,0.0,9.0,0.0,6.0,0.0,0.0,8.0,2.0,...,1,1,1,0,1,0,1,1,1,1
4,5,2.0,6.0,1.0,8.0,1.0,4.0,7.0,0.0,0.0,...,0,2,0,2,0,1,0,0,1,1

In [101]:
train_df = df_all.dropna(subset=['Result'])

In [138]:
test_df = test.loc[:,['ACE','FSP','FSW','SSP','SSW','DBF','BPC','BPW','NPA','NPW']]
print(test_df)

     ACE  FSP  FSW  SSP  SSW  DBF  BPC  BPW  NPA  NPW
0      0    1    1    0    1    2    1    1    0    0
1      1    1    1    0    0    1    1    1    0    1
2      1    0    1    1    0    2    2    0    1    1
3      0    1    0    0    1    1    0    0    1    1
4      1    1    1    0    0    0    1    1    0    1
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
467    0    1    0    0    1    0    1    1    1    1
468    0    1    1    0    1    0    1    1    1    1
469    0    1    1    0    0    2    1    1    0    0
470    1    0    0    1    1    1    1    1    2    1
471    1    1    1    0    2    0    1    1    0    0

[472 rows x 10 columns]

In [97]:
df_all.shape

(829, 51)

In [102]:
train_df = train_df.loc[:,['ACE','FSP','FSW','SSP','SSW','DBF','BPC','BPW','NPA','NPW',"Result"]]
test_df = test_df.loc[:,['ACE','FSP','FSW','SSP','SSW','DBF','BPC','BPW','NPA','NPW']]

In [104]:
X = train_df.drop("Result", axis=1).values
y = train_df["Result"].values

In [103]:
train_df.head(5)

   ACE  FSP  FSW  SSP  SSW  DBF  BPC  BPW  NPA  NPW  Result
0    1    1    1    0    0    0    1    0    0    0     1.0
1    1    1    1    0    0    1    0    0    1    1     0.0
2    0    0    0    1    1    2    0    0    0    0     0.0
3    1    1    1    0    1    0    1    1    1    1     1.0
4    0    2    0    2    0    1    0    0    1    1     0.0

In [105]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_predict
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import roc_auc_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold

クロスバリテーション

In [117]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(random_state=0)
lr_pred = cross_val_predict(lr, X, y, cv=5)
lr.fit(X,y)
accuracy_score(y, lr_pred)
recall_score(y, lr_pred, average="binary")

0.8970588235294118

In [118]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

# インスタンス
knn = KNeighborsClassifier(n_neighbors=3)

# モデル学習
knn.fit(X,y)

knn_pred = cross_val_predict(knn, X, y, cv=5)

In [119]:
from xgboost import XGBClassifier
xgb = XGBClassifier(random_state=0)
xgb_pred = cross_val_predict(xgb, X, y, cv=5)
xgb.fit(X,y)
accuracy_score(y, xgb_pred)

0.9057971014492754

In [120]:
pred = (lr_pred + xgb_pred + knn_pred) / 3
accuracy_score(y, pred.round())

0.9057971014492754

In [121]:
print(pred)

[0.66666667 0.         0.         1.         0.         1.
 0.         1.         1.         0.33333333 0.         0.
 1.         0.         0.         0.         1.         1.
 1.         1.         0.         0.         0.33333333 0.
 0.         0.         0.         1.         0.         1.
 0.         1.         0.         0.66666667 0.         0.
 1.         0.         1.         0.         0.66666667 0.
 1.         1.         0.33333333 0.33333333 1.         1.
 0.         1.         0.         1.         1.         1.
 0.         0.33333333 1.         0.66666667 1.         1.
 0.         1.         0.         0.         1.         0.
 1.         0.33333333 0.33333333 1.         1.         0.
 0.         0.66666667 1.         0.         0.         0.
 0.66666667 1.         1.         0.         0.33333333 1.
 0.         1.         1.         1.         1.         1.
 1.         1.         1.         0.         1.         0.
 1.         1.         0.         0.         1.         1.
 0.         1.         1.         0.33333333 1.         0.
 0.         0.         1.         1.         1.         0.
 0.         1.         1.         1.         0.         0.
 1.         0.         0.         0.         0.         0.
 0.         1.         0.         0.66666667 0.         1.
 0.66666667 1.         0.33333333 1.         0.         1.
 0.         1.         0.66666667 1.         1.         0.
 0.         0.         0.33333333 1.         0.         1.
 1.         0.33333333 1.         0.         0.         1.
 0.         0.         0.         0.66666667 1.         0.
 0.33333333 1.         1.         0.         0.         0.
 0.         0.         0.         1.         1.         1.
 0.         1.         0.         1.         0.33333333 0.
 1.         0.         0.         1.         0.         1.
 0.66666667 1.         0.         1.         1.         0.33333333
 0.66666667 0.         1.         0.         0.         0.
 0.         1.         0.         0.         1.         1.
 1.         1.         0.         0.         1.         0.
 0.         0.         1.         1.         1.         1.
 0.         1.         1.         1.         0.         0.
 0.66666667 1.         1.         1.         0.66666667 0.
 0.         0.         1.         0.         0.         1.
 1.         0.33333333 0.         0.         1.         0.
 0.         0.         1.         1.         1.         0.
 0.         0.         1.         1.         1.         0.
 0.         1.         1.         0.         1.         1.
 1.         1.         0.         1.         1.         0.
 0.33333333 0.         1.         1.         1.         1.
 0.         0.         1.         0.         1.         0.
 0.33333333 0.         0.         0.         0.         0.
 0.         0.         1.         0.         0.         1.
 1.         0.         0.         0.         0.         1.
 0.         0.33333333 1.         1.         0.         1.
 0.         0.         0.         0.         0.         1.
 1.         0.         1.         1.         0.33333333 0.33333333
 1.         1.         1.         0.         0.         1.
 1.         1.         0.         1.         0.         0.
 1.         0.         0.         0.         1.         0.
 1.         1.         1.         1.         0.         0.
 1.         1.         1.         1.         1.         0.
 0.         1.         1.         1.         0.         1.
 1.         0.         1.         0.66666667 1.         1.
 0.         1.         0.         0.         0.         0.
 0.         0.66666667 1.         1.         0.         0.
 1.         1.         0.         0.         1.         0.
 0.33333333 0.66666667 1.         1.         1.         0.
 0.         0.33333333 1.         0.         0.         0.33333333
 0.         0.         1.         1.         0.33333333 1.
 0.         1.         1.         1.         1.         1.
 0.         1.         1.         0.         0.         0.
 1.         1.         1.         1.         1.         0.66666667
 0.         0.         1.         1.         1.         1.        ]

In [141]:
print(test.shape)
print(test_df.shape)
pred_knn = knn.predict(test_df)
pred_xgb = xgb.predict(test_df)
pred_lr = lr.predict(test_df)

(472, 55)
(472, 10)

/Users/ishikawaritsuki/Desktop/kaggle/newyork_taxi/.venv/lib/python3.9/site-packages/sklearn/base.py:432: UserWarning: X has feature names, but KNeighborsClassifier was fitted without feature names
  warnings.warn(
/Users/ishikawaritsuki/Desktop/kaggle/newyork_taxi/.venv/lib/python3.9/site-packages/sklearn/base.py:432: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

In [150]:
test_pred = (pred_lr + pred_xgb + pred_knn) / 3
for i in range(len(test_pred)):
    if test_pred[i] > 0.5:
        test_pred[i] = 1
    else:
        test_pred[i] = 0

print(test_pred)

[1. 1. 1. 0. 1. 1. 0. 1. 0. 1. 1. 0. 0. 1. 1. 0. 1. 1. 1. 1. 1. 0. 1. 1.
 1. 0. 0. 1. 0. 1. 1. 0. 1. 1. 1. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 1. 0. 0. 0. 1. 0. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 0.
 1. 0. 1. 0. 1. 1. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 1. 1. 1. 1. 1. 1. 1.
 1. 0. 0. 1. 0. 0. 0. 1. 1. 0. 1. 1. 1. 1. 1. 1. 0. 0. 1. 0. 1. 1. 1. 1.
 1. 0. 0. 1. 1. 0. 1. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0.
 1. 1. 1. 1. 0. 0. 1. 1. 1. 1. 1. 1. 0. 1. 0. 1. 0. 1. 1. 1. 1. 1. 0. 1.
 1. 0. 1. 0. 0. 0. 1. 0. 1. 1. 0. 1. 1. 1. 0. 0. 1. 0. 0. 0. 0. 1. 1. 1.
 1. 0. 1. 0. 0. 1. 1. 1. 0. 1. 1. 1. 1. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 1.
 1. 1. 0. 0. 1. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 1. 0. 1. 0. 1. 1. 1. 0.
 1. 0. 1. 1. 0. 1. 0. 1. 0. 1. 1. 0. 1. 0. 0. 1. 1. 0. 0. 1. 0. 0. 0. 1.
 0. 1. 0. 1. 1. 1. 0. 1. 1. 0. 0. 1. 1. 1. 0. 1. 1. 0. 0. 0. 0. 0. 0. 1.
 1. 1. 1. 1. 1. 1. 1. 0. 0. 0. 1. 0. 0. 0. 1. 1. 0. 1. 1. 0. 1. 0. 0. 1.
 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 1. 1. 0.
 1. 1. 0. 0. 0. 1. 0. 1. 0. 1. 1. 1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 1. 0.
 1. 1. 1. 1. 0. 0. 1. 0. 0. 0. 1. 1. 1. 1. 0. 0. 1. 1. 0. 0. 1. 1. 0. 0.
 0. 1. 0. 0. 1. 1. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0.
 0. 1. 1. 1. 0. 0. 1. 1. 0. 1. 1. 1. 0. 1. 0. 1. 0. 0. 1. 0. 0. 1. 0. 1.
 1. 1. 1. 0. 0. 1. 1. 0. 0. 1. 1. 1. 0. 0. 1. 0. 0. 0. 1. 1. 1. 0. 1. 1.
 1. 0. 0. 0. 1. 0. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1.]

In [153]:
sample_sub = pd.DataFrame(test["id"])
sample_sub

      id
0      1
1      2
2      5
3      6
4      8
..   ...
467  938
468  939
469  940
470  941
471  942

[472 rows x 1 columns]

In [155]:
sample_sub['result'] = test_pred.astype(int)
sample_sub

      id  result
0      1       1
1      2       1
2      5       1
3      6       0
4      8       1
..   ...     ...
467  938       1
468  939       1
469  940       0
470  941       1
471  942       1

[472 rows x 2 columns]

In [156]:
sample_sub.to_csv('submission.csv',index=False,header=None)